.main-wrapper {
    height: 100vh;  
}
.perfil {
    background: linear-gradient(90deg,rgba(71, 145, 158, 62),white);
}
.perfil_1 {
    background: linear-gradient(90deg,rgba(71, 145, 158, 62) ,white);
}
.welcome {
    background-color: white;
}
.section{ 
    margin: 0;
    height: 100%;
}

.logo{
    font-weight: bold;
    font-size: 7em;
}
.menu a {
    font-weight: 100;
}
.section div{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



